.filter-div {
  top: 1rem;
  width: 250px;
  height: 650px;
  display: grid;
  position: sticky;
  justify-content: center;

  .search-input {
    width: 200px;
    height: 40px;
    padding: 5px;
    border: white;
    border-radius: 5px;
    margin-bottom: 1.25rem;
    background-color: #f1f5f8;
  }
  .fltr-pla {
    padding: 5px;
    border: none;
    display: block;
    background: none;
    text-transform: capitalize;
  }
  .fltr-pla:hover {
    cursor: pointer;
    width: max-content;
    border-bottom: 1px solid black;
  }
  .active {
    border-bottom: 1px solid black;
  }
  .all-input {
    width: 100px;
    height: 30px;
  }
  .free {
    display: flex;
    align-items: center;
  }
  .clear {
    width: 130px;
    height: 30px;
    background-color: rgb(224, 61, 61);
    border: white;
    color: white;
    border-radius: 5px;
  }
  .colors {
    gap: 5px;
    display: flex;
    flex-direction: column;

    .mini-color-btn {
      width: 20px;
      height: 20px;
      border: none;
      opacity: 0.5;
      cursor: pointer;
      background: none;
    }

    .mini-colors {
      gap: 5px;
      display: flex;

      .mini-color {
        width: 20px;
        height: 20px;
        border: none;
        opacity: 0.5;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
}
